{{extend("./layout.html")}}


{{#block("head")}}
<link rel="stylesheet" href="/stylesheets/table.css">

<script src="/javascripts/echarts.js"></script>
<script src="/javascripts/theme.js"></script>

<style>
.data-table {
    margin-bottom: 20px;
}
</style>
{{/block}}
{{#block("body")}}

{{#each(tables)}}
<div name={{this.title}}>
    {{include("./table.html",{title:this.title,keys:this.keys,values:this.values})}}
</div>
{{/each}}

<div id="chart1" style="width:600px;height:500px"></div>
<div id="chart2" style="width:600px;height:500px"></div>
<div id="chart3" style="width:600px;height:500px"></div>

<script type="text/javascript">
    var barCharts = echarts.init(document.getElementById('chart1'),'dark');
    barCharts.setOption({{{ optionLine[0] }}});

    let lineChart=echarts.init(document.getElementById('chart2'),'dark');
    lineChart.setOption({{{ optionLine[1] }}});

    let lineChart=echarts.init(document.getElementById('chart3'),'dark');
    lineChart.setOption({{{ optionLine[2] }}});

</script>
{{/block}}