{{extend("./views/info/layout.html")}}


{{#block("head")}}
<link rel="stylesheet" href="/stylesheets/table.css">

<script src="/javascripts/echarts.js"></script>
<script src="/javascripts/theme.js"></script>
{{/block}}
{{#block("body")}}
<div name="利润">
    {{include("./views/table.html",{keys:keys_1,values:values_1})}}
</div>
<div name="资产负债">
    {{include("./views/table.html",{keys:keys_2,values:values_2})}}
</div>
<div name="现金流量">
    {{include("./views/table.html",{keys:keys_3,values:values_3})}}
</div>

<div id="bar" style="width:600px;height:500px"></div>
<div id="line" style="width:600px;height:500px"></div>
<script type="text/javascript">
    let op={{d}};
    var barCharts = echarts.init(document.getElementById('bar'),'dark');
    barCharts.setOption({{option1}});

    let lineChart=echarts.init(document.getElementById('line'),'dark');
    lineChart.setOption({{option2}});
</script>
{{/block}}