.table .tb-unit{
 border-bottom: 1px solid #636363;
}
.tableTag{
padding: 0.7rem 1rem 0.7rem 1rem;
background: #007bff;
color: white;
border-radius: 0.8rem;
min-width: 150px;
width:fit-content;
margin-left: 1rem;
}
.table thead th{
  white-space: nowrap;
}
.table .first{
  color: white;
  background-color: #212529;
  font-family: Microsoft Yahei;
}