.tb {
  margin:20px 0 0 0;
    width:100%;
    /* margin:15px auto 130px; */
  }
  .tb,.tb th,.tb td{
    font-size:16px;
    text-align:center;
    border:1px solid #b8b8b8;
    border-collapse:collapse
  }
  .tb th,.tb .first {
    background-color: #eef4f8;
    color:#5e5959;
  }
  /* .tb td{
    border: 1px solid transparent;
  } */
  
  .tb tr:nth-child(odd){
    background-color:rgb(253, 227, 231);
  }
  .tb tr:nth-child(even){
    background-color:#fdfdfd;
  }
  .tb .tb-unit{
    padding:1em;
  }
  .intro{
    display: block;
    color:#5e5959;
    font-size: 18px;
  }

.table .tb-unit{
 border-bottom: 1px solid #636363;
}
.tableTag{
padding: 0.7rem 1rem 0.7rem 1rem;
background: #007bff;
color: white;
border-radius: 0.8rem;
}
.table .first{
  color: #2c2c2c;
  font-family: Microsoft Yahei;
}