
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CIHouse企业对比</title>
        <link rel="stylesheet" href="/stylesheets/comparestyle.css">
        <link rel="stylesheet" href="/stylesheets/util/bootstrap.min.css">
        <script src="/javascripts/lib/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/result.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="title">
                <a clss="link" href="/index">
                    <img class="return" src="/images/logo.svg"/>
                </a>
                <h1 class="zi">CIHouse企业对比</h1>
            </div>
            <div class="dinput">
                <form class="singlesearch">
                    <input class="searchbox" name="search-1" id="search-1" title="输入搜索词" placeholder="请输入公司代码" aria-label="Search" role="combobox">
                    <input class="searchbox" name="search-2" id="search-2" title="输入搜索词" placeholder="请输入公司代码" aria-label="Search" role="combobox">
                    <input type="submit" class="btn btn-outline-light my-sm-0" value="提交">
                </form> 
            </div>
            <div id="section">
                <iframe id="content" src style="border:0;width: 100%;height:100%;"></iframe>
            </div>
        </div>
    <script src="/javascripts/lib/popper.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>

    </body>
</html>