{{extend("./layout.html")}}

{{#block("head")}}
    <script src="/javascripts/initial.js"></script>
{{/block}}
{{#block("nav")}}
    <!-- 这个是对 nav 这个 block 的实现 -->
    <tr>
        <td class="standartTreeImage">
            <img src="/images/folder.png" class="pic" />
        </td>
        <td class="item">
            <span id="menu001" onclick="clickmenu(this)" title="公司信息">公司信息</span>
        </td>
    </tr>
    
    <tr>
        <td class="standartTreeImage">
            <img src="/images/folder.png" class="pic" />
        </td>
        <td class="item">
            <span id="menu002" onclick="clickmenu(this)" title="历史数据">历史数据</span>
        </td>
    </tr>
    
    <tr>
        <td class="standartTreeImage">
            <img src="/images/folder.png" class="pic" />
        </td>
        <td class="item">
            <span id="menu003" onclick="clickmenu(this)" title="财务信息">财务信息</span>
        </td>
    </tr>
{{/block}} 
{{#block("body")}}
<div>
    <iframe id="content" src style="border:0;width: 100%"></iframe>
</div>
{{/block}}