{{extend("./layout.html")}}

{{#block("head")}}
    <script src="/javascripts/initial.js"></script>
{{/block}}
{{#block("nav")}}
    <!-- 这个是对 nav 这个 block 的实现 -->
    <tr class="nav-item" id="arow001" onclick="clickmenu(this)">
        <td class="standartTreeImage">
            <img src="../images/基本信息1.png" class="pic" />
        </td>
        <td class="item">
            <span class="menu" title="基本信息">基本信息</span>
        </td>
    </tr>
    
    <tr class="nav-item" id="arow002" onclick="clickmenu(this)">
        <td class="standartTreeImage">
            <img src="../images/历史数据1.png" class="pic" />
        </td>
        <td class="item">
            <span class="menu" title="历史数据">历史数据</span>
        </td>
    </tr>
    
    <tr class="nav-item" id="arow003" onclick="clickmenu(this)">
        <td class="standartTreeImage">
            <img src="../images/财务信息1.png" class="pic" />
        </td>
        <td class="item">
            <span class="menu" title="财务信息">财务信息</span>
        </td>
    </tr>
{{/block}} 
{{#block("body")}}
<iframe id="content" src style="border:0;width: 100%;height:100%;"></iframe>
{{/block}}