<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CIHouse</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/table.css">
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/echarts.js"></script>
        <script src="/javascripts/theme.js"></script>
        <script src="/javascripts/draw.js"></script>
    </head>
    <body>
        <div id="main" style="width: 400px;height: 300px">
        </div>
    </body>
</html>