<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>CIHouse新三板企业征信平台</title>
        <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/indexstyle.css"/>
        <script src="/javascripts/lib/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/operation.js"></script>
    </head>
    <body>
        <div class="container">
            <video id="videobanner" loop muted="muted" preload="auto" autoplay="autoplay">
                <source src="http://www.esensoft.com/static/images/xiaoyi_2018/banner1Trim.mp4" type="video/mp4">
            </video>
            
            <div class="banner-slogan">
                <p class="hosttitle">CIHouse新三板企业征信平台</p>
                <div class="singlesearch">
                    <input class="searchbox" name="q" title="输入搜索词" value="" role="combobox">
                    <img class="searchboxSubmit" src="/images/search.png"/>
                </div>  
                <div class="myButton">
                    <a href="/statistics">
                        <button class="button1">统计信息</button>
                    </a>
                    <a href="/compare">
                        <button class="button1">企业对比</button>
                    </a>
                    <a href="/rank">
                        <button class="button1">企业排名</button>
                    </a>
                </div> 
            </div>
        </div>

        <div class="futitle">
                <h2 class="title2">案例成果</h2>
        </div> 
        <div class="back">
            <div class="tempWrap">
                <ul>
                    <li>
                        <img class="tu" src="/images/finance.png" alt="金融" title="金融">
                        <div class="wenTop">
                            <div class="tu1 ex1"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">金融</h6>
                        </div>
                        <div class="wenBottom">
                            <!--<img class="tu1" src="/static/images/xiaoyi_2018/syCtb1.png" />-->
                            <div class="tu1"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">金融</h6>
                            <p class="wzTsm">CIHouse对于金融公司的定位分析，从资金、股本、增长值角度对企业进行评估，对于投资、查询了解企业现状有很大帮助。</p>
                            <!-- <a class="moreD" target="_blank" href="/cases/taxation/527.html">查看详情</a> -->
                        </div>
                    </li>
                    <li>
                        <img class="tu" src="/images/health.jpg" alt="卫生" title="卫生">
                        <div class="wenTop">
                            <!--<img class="tu1" src="/static/images/xiaoyi_2018/syCtb3.png" />-->
                            <div class="tu1 ex2"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">卫生</h6>
                        </div>
                        <div class="wenBottom">
                            <!--<img class="tu1" src="/static/images/xiaoyi_2018/syCtb3.png" />-->
                            <div class="tu1"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">卫生</h6>
                            <p class="wzTsm">基于大数据为各卫生部门提供更透明更精准的数据，优化各环节，搭建专业完善的数据系统，为各部门决策提供可靠支持。</p>
                            <!-- <a class="moreD" target="_blank" href="/cases/hygiene/549.html">查看详情</a> -->
                        </div>
                    </li>
                    <li>
                        <img class="tu" src="/images/edu.png" alt="教育" title="教育">
                        <div class="wenTop">
                            <!--<img class="tu1" src="/static/images/xiaoyi_2018/syCtb6.png" />-->
                            <div class="tu1 ex3"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">教育</h6>
                        </div>
                        <div class="wenBottom">
                            <!--<img class="tu1" src="/static/images/xiaoyi_2018/syCtb6.png" />-->
                            <div class="tu1"></div>
                            <span class="xian2"></span>
                            <h6 class="wzTs">教育</h6>
                            <p class="wzTsm">针对教育预测、聚类、相关性挖掘，CIHouse为教育行业提供了因材施教，多元教育的可行方案，让教育不再是单一维度，实现过程性评价。</p>
                            <!-- <a class="moreD" target="_blank" href="/cases/education/544.html">查看详情</a> -->
                        </div>
                    </li>
                </ul>
            </div> 
        </div>

        
        <div class="futitle">
            <h2 class="title2">数据全生命周期产品线</h2>
        </div> 
       
        <div class="procedure">
            <div class="gain">
                <div class="bl pic1"></div>
                <p class="intro">数据获取</p>
                <p class="work">使用什么工具。数据获取做了什么，得到了什么，有什么意义。</p>
            </div>
            <div class="gain">
                <div class="bl pic2"></div>
                <p class="intro">数据处理</p>
                <p class="work">使用什么工具。数据处理做了什么，得到了什么，有什么意义。</p>
            </div>
            <div class="gain">
                <div class="bl pic3"></div>
                <p class="intro">数据存储</p>
                <p class="work">使用什么工具。数据存储做了什么，得到了什么，有什么意义。</p>
            </div>
            <div class="gain">
                <div class="bl pic4"></div>
                <p class="intro">数据展示</p>
                <p class="work">使用什么工具。数据展示做了什么，得到了什么，有什么意义。</p>
            </div>
        </div>

        <div class="futitle">
            <h2 class="title2">CIHouse开发人员</h2>
        </div>
        <div class="flipboard">
            <div class="arrow-left"></div>
            <div class="flipcard" id="flip1">
                <div class="side">
                    <p class="name">张可</p>
                    <p class="detail">组长</p>
                </div>
                <div class="side alternative">
                    <p class="name">李嘉兴</p>
                    <p class="detail">数据处理</p>
                </div>
            </div>
            <div class="flipcard" id="flip2">
                <div class="side">
                    <p class="name">刘相君</p>
                    <p class="detail">前端开发</p>
                </div>
                <div class="side alternative">
                    <p class="name">王洪泽</p>
                    <p class="detail">数据处理</p>
                </div>
            </div>
            <div class="flipcard" id="flip3">
                <div class="side">
                    <p class="name">李行健</p>
                    <p class="detail">前端开发</p>
                </div>
                <div class="side alternative">
                    <p class="name">管聪</p>
                    <p class="detail">数据爬取</p>
                </div>
            </div>
            <div class="arrow-right"></div>
        </div>        
    </body>   
</html>