<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CIHouse</title>
        <link rel="stylesheet" href="/stylesheets/display.css">
        <link rel="stylesheet" href="/stylesheets/util/bootstrap.min.css">
        <script src="/javascripts/lib/jquery-3.3.1.min.js"></script>

        {{{block("head")}}}
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand" href="/index">CIHouse首页</a>
            <form class="form-inline" action="/query">
            <input class="form-control mr-sm-2" style="width:300px;" type="text" name="search" placeholder="公司代码或公司名称关键字" aria-label="Search">
            <input type="submit" class="btn btn-outline-light my-sm-0">
            </form>
        </nav>

        <div id="nav1" style="float:left">
            <div class="header">{{pagetitle}}</div>
            <img class="ball" src="../images/browser.png"/>
            <table class="xtree_node">
                <tbody>
                    {{{block("nav")}}}
                </tbody>
            </table>
        </div> 
            
        <div id="section">
            {{{block ("body")}}}
        </div>
            
        <div id="footer"> 
           CIHouse开发部
        </div>

    <script type="text/javascript">
        {{{block("body-js")}}}
    </script>
    <script src="/javascripts/lib/popper.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>

    </body>
</html>