<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CIHouse</title>
        <link rel="stylesheet" href="/stylesheets/display.css">
        <link rel="stylesheet" href="/stylesheets/util/bootstrap.min.css">
        <script src="/javascripts/lib/jquery-3.3.1.min.js"></script>

        {{{block("head")}}}
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand" href="/">CIHouse首页</a>
            <input class="nav-input" id="navsearch" onclick="click(this)" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav">
                <li class="nav-content">
                    <a class="nav-link" href="#">Search</a>
                </li>
            </ul>
        </nav>

        <div id="nav1" style="float:left">
            <div class="header">{{pagetitle}}</div>
            <img class="ball" src="../images/browser.png"/>
            <table class="xtree_node">
                <tbody>
                    {{{block("nav")}}}
                </tbody>
            </table>
        </div> 
            
        <div id="section">
            {{{block ("body")}}}
        </div>
            
        <div id="footer"> 
           CIHouse开发部
        </div>

        
    <script src="/javascripts/lib/popper.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>

    </body>
</html>