<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CIHouse</title>
    <link rel="stylesheet" href="/stylesheets/perform.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
</head>

<body>
    <div class="backpic">
        <img class="pic" src="/images/ground3.jpg"/>
        <div class="host">
            <p class="hosttitle">CIHouse查询</p>
            <div class="singlesearch">
                <input class="searchbox" name="q" title="输入搜索词" value="" role="combobox">
                <img class="searchboxSubmit" src="/images/search1.png"/>
            </div>
        </div>
        <div class="goback">
            <a class="backbut" href="/index">首页</a>
        </div>
    </div>

    <div id="result" style="padding:50% 20% 0 20%">
        {{#if (!values)}}
        <p>未查询到数据</p>
        {{else}} 
        {{include ("./table.html",{keys:keys,values:values})}} 
        {{/if}}
    </div>
</body>

</html>