<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CIHouse</title>
    <link rel="stylesheet" href="/stylesheets/perform.css">
    <link rel="stylesheet" href="/stylesheets/util/table.css">
    <link rel="stylesheet" href="/stylesheets/util/bootstrap.min.css">

</head>

<body>
    <div class="backpic">
        <img class="pic" src="../images/ground3.jpg" />
        <div class=" py-4 mb-2 " style="width: fit-content;margin: 0 auto">
            <nav class="nav ">
                <a class="pr-5 pl-5  headtagborder" href="/">首页</a>
                <a class="pr-5 pl-5  headtagborder" href="/statistics">统计</a>
                <a class="pr-5 pl-5" href="/compare">对比</a>
                <!-- <a class="pr-5 pl-5 " href="/rank">排名</a> -->
            </nav>
        </div>
        <div class="host">
            <p class="hosttitle fit-center">CIHouse查询</p>
            <form class="fit-center">
                <input class="searchbox" placeholder="输入搜索词" type="text" name="search">
                <input class="searchboxSubmit" value="" type="submit">
            </form>
        </div>
    </div>
    <div class="row" style="text-align:center;margin: 0 0 30px">
        <div class="col-lg-9 fit-center" style="border-bottom: 2px solid">
            <p style="font-size:20px">{{querySrc}}的搜索结果，共<span>{{count}}</span>个匹配项</p>
        </div>

        <div class="col-lg-9 fit-center">
            <div id="result">
                {{#if (values)}}
                    {{include ("./views/util/table.html",{tag:true,a:true,keys:keys,values:values})}}
                {{/if}}
            </div>
        </div>
    </div>
    <footer class="footer" style="text-align:center;background-color: #eaeaea">
        <div class="container">
          <span class="text-muted">CIHouse工作组</span>
        </div>
      </footer>
    <script src="/javascripts/lib/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/lib/popper.min.js"></script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>
</body>

</html>