{{extend("./views/layout.html")}}

{{#block("nav")}}
    <!-- 这个是对 nav 这个 block 的实现 -->
    <div class="fork">   
        <p class="ins" title="全国各省统计数据">全国各省统计数据</p>
        <tr class="nav-item1">
            <td class="standartTreeImage1">
                <img src="/images/favor.png" class="pic1" />
            </td>
            <td class="item1">
                <span class="menu1" title="公司数量">公司数量</span>
            </td>
        </tr>
        
        <tr class="nav-item1">
            <td class="standartTreeImage1">
                <img src="/images/favor.png" class="pic1" />
            </td>
            <td class="item1">
                <span class="menu1" title="总资产">总资产</span>
            </td>
        </tr>
        
        <tr class="nav-item1">
            <td class="standartTreeImage1">
                <img src="/images/favor.png" class="pic1" />
            </td>
            <td class="item1">
                <span class="menu1" title="总利润">总利润</span>
            </td>
        </tr>
    </div> 
{{/block}} 

{{#block("body")}}
<iframe id="content" src="/statistics/map" style="border:0;width: 100%;height:100%;"></iframe>
{{/block}}