<h3>{{title}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            {{#each(keys)}}
            <th class="tb-unit">{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each(values)}}
        <tr>
            {{#each(this)}}
            {{# if(xindex===0)}}
            <td class="tb-unit first"><a href="/detail/{{this}}">{{this}}</a></td>
            {{else}}
            <td class="tb-unit">{{this}}</td>
            {{/ if}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>