body {
    margin: 0;
}
* {
    font-family: sans-serif; 
}

#nav1 {
    display: block;
    line-height:30px;
    /* background-color:#224; */
    background-color:#101f59;
    /* height:300px; */
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    bottom: 0;
    box-sizing: border-box;
}
#nav1 .header {
    color:#fff;
    font-size: 24px;
    padding: 30px 25px;
    text-align: center;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border-top-color: gray;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: gray;
}
table, tr, td {
    padding: 10px 5px;
    /* margin: 80px 40px; */
    width:100%;
}
.nav-item{
    color:#fef;
    /* background-color:#224; */
    background-color:#101f59;
    cursor: pointer;
}
.nav-item.selected{
    color:#2f7bdf;
    background-color:#ecf3f7;
}
.xtree_node{
    border: 0 none;
    padding: 0px 0px;
    height: 42px;
    width: 100%;
    table-layout: fixed;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-top:130px;
}
.standartTreeImage{
    width: 21px; 
    height:100%;
    padding: 0px; 
    vertical-align: middle;
}
.standartTreeImage .pic{
    padding: 0px; 
    margin: 0px 0px 0px 3px; 
    width: 18px; 
    height: 18px;
    margin-left:65px;
    vertical-align: -3px;
}
.item .menu{
    margin-left:65px;
}
/* .xtree_node{
    padding: 0px 0px 0px 3px; 
    vertical-align: middle;
    width:160px;
    height:42px;
} */
.item{
    font-size: 16px; 
}
#section {
    /* padding: 25px 25px 80px 225px; */
    top:48px;
    right: 0;
    bottom: 0;
    left: 200px;
    position: absolute;    
    overflow: hidden;
}
#section .section-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.navbar{
    /* background-color: #224; */
    background-color:#101f59;
    height: 48px;
}
.navbar-intro{
    margin-left: 210px;
}
.logo{
    height:35px;
    width: 35px;
    vertical-align: middle;
}
.navbar .navbar-brand{
    font-size: 20px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
.navbar .nav-input{
    border-color: rgb(67, 67, 105);
    background-color: rgb(67, 67, 105);
}
.nav-input:focus{
    background:white;
}

.ball{
    width:70px;
    height:70px;
    margin-top:20px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.ins{
    color:rgb(189, 190, 193);
    font-size: 20px;
    text-align: center;
    margin-top:100px;
    margin-bottom: 40px;
}
.fork{
    margin-top: 0;
}
.nav-item1{
    color:rgb(189, 190, 193);
    /* background-color:#224; */
}

.standartTreeImage1{
    width: 21px; 
    height:100%;
    padding: 0px; 
    vertical-align: middle;
}
.standartTreeImage1 .pic1{
    padding: 0px; 
    margin: 0px 0px 0px 3px; 
    width: 18px; 
    height: 18px;
    margin-left:60px;
}
.item1 .menu1{
    margin-left:60px;
}
/* .xtree_node{
    padding: 0px 0px 0px 3px; 
    vertical-align: middle;
    width:160px;
    height:42px;
} */
.item1{
    font-size: 18px; 
}