body {
    margin: 0;
}
* {
    font-family: sans-serif; /*不要宋体*/
}

#nav1 {
    display: block;
    line-height:30px;
    background-color:#224;
    /* height:300px; */
    position: fixed;
    top: 48px;
    left: 0;
    width: 200px;
    bottom: 30px;
    box-sizing: border-box;
}
#nav1 .header {
    color:#fff;
    font-size: 24px;
    padding: 30px 25px;
    text-align: center;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border-top-color: gray;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: gray;
}
table, tr, td {
    padding: 10px 5px;
    /* margin: 80px 40px; */
    width:100%;
}
.nav-item{
    color:#fef;
    background-color: #224;
    cursor: pointer;
}
.nav-item.selected{
    color:#2f7bdf;
    background-color:#ecf3f7;
}
.xtree_node{
    border: 0 none;
    padding: 0px 0px;
    height: 42px;
    width: 100%;
    table-layout: fixed;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-top:130px;
}
.standartTreeImage{
    width: 21px; 
    height:100%;
    padding: 0px; 
    vertical-align: middle;
}
.standartTreeImage .pic{
    padding: 0px; 
    margin: 0px 0px 0px 3px; 
    width: 16px; 
    height: 16px;
    margin-left:65px;
}
.item .menu{
    margin-left:65px;
}
/* .xtree_node{
    padding: 0px 0px 0px 3px; 
    vertical-align: middle;
    width:160px;
    height:42px;
} */
.item{
    font-size: 16px; 
}
#section {
    /* padding: 25px 25px 80px 225px; */
    top:52px;
    right: 0;
    bottom: 40px;
    left: 225px;
    position: absolute;    
}
#section .section-title {
    font-size: 24px;
    margin-bottom: 10px;
}
#footer {
    display: block;
    background-color:#224;
    color:white;
    clear:both;
    text-align:center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px; /* 行高跟整个元素高度相等就会垂直居中 */
    box-sizing: border-box;
}
.navbar{
    background-color: #224;
    height: 48px;
}
.navbar .navbar-brand{
    font-size: 20px;
    margin-left: 35px;
    color: #fef;
}
.navbar .nav-input{
    position: absolute;
    left: 200px;
    width: 80%;
    height: 44px;
    border-radius: 5px;
    /* right: 10%; */
    padding: 10px 15px;
    border: solid;
    border-color: rgb(67, 67, 105);
    background-color: rgb(67, 67, 105);}
.nav-input:focus{
    background:white;
}
.nav-input.clicked{
    background-color: #fef;
}
.navbar-nav{
    position: absolute;
    right: 0;
    width: 5%;
    padding-right: 1%;}
.navbar-nav .nav-link{
    font-size:18px;
    color: #fef;
}
.ball{
    width:70px;
    height:70px;
    margin-left: 60px;
    margin-bottom: 15px;
}
