body {
  margin: 0;
}
* {
  font-family: sans-serif; /*不要宋体*/
}
input {
padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* 样式重置，意思是把一些浏览器之间不一样的地方先用一些css来抹平,后面再写自己的样式。  */

.container {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
}

#videobanner {
  display: block;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  /*height: 100%;*/
  z-index: -1;
  /* object-fit: cover; */
  /* left: 100px; */
  /* top: 100px; */
  
  /* width: 800px; */
  /* margin: 0 auto; */
  /* static relative absolute fixed */
}

/* margin 的 collapse */
.banner-slogan {
  /* background: #cccccc;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 20px solid #888888;
  margin: 20px;
  box-sizing: border-box; */
  /* color: #fff; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* padding: 0 200px; */
  background: rgba(0, 130, 255, 0.5);
  /* font-size: 60px; */
  text-align: center;
}
 .banner-slogan .hosttitle{
  font-size: 60px;
  color: #fff;
  margin-top: 300px;
 }
 .singlesearch{
     position: relative;
     display: inline-block;
     zoom: 1;
 }
  .singlesearch .searchbox{
      display: inline-block;
      width: 550px;
      height: 40px;
      margin: 10px auto;
      box-shadow: 0 5px 15px #555;
      /* font-size: 35px; */
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 3px;
      vertical-align: middle;
  }
  /* .singlesearch .searchboxSubmit{
      
  } */
   .btn-outline-light {
      background-color: transparent;
      display: inline-block;
      width:50px;
      height:50px;
      vertical-align: middle;
      cursor: pointer;
      background-image: url(../images/search_fix.png);
      overflow: hidden;
      border: 0;
    }
    .btn {
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: .375rem .75rem;
    }
  .back{
      background-color:#f8f8f8;
      position: relative;
  }
  .tempWrap{
      width: 100%; 
      height: 450px;
      display: block;
      padding: 30px 0;
  }
  .tempWrap ul{
      height: 434px;
      overflow: hidden;
      text-align: center;
      margin: 0 15px;
  }
  .tempWrap li{
      display: inline-block;
      position: relative;    /*1*/
      width: 300px;
      height: 400px;
      overflow: hidden;
      margin: 0 15px;
      border:1px solid rgb(73, 72, 72);
      border-radius: 5px;
  }
  
  .tempWrap .wenTop{
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
  }
  .tempWrap .wenTop .tu1 {
      /* 所有的图标都设置 */
      display: block;
      width: 64px;
      height: 64px;
      margin: 60px auto 0;

      /* 图片要保持比例，不要拉长或者压扁了，不然就跟校园蜜蜂小程序那么丑 */
      /* contain 是保持比例，尽可能放进去，cover 是保持比例，但保证充满 */
      /* 巧记：图片/头像 = cover，图标 = contain */
      background-size: contain;
  }
  .tempWrap .wenTop .ex1{
      background-image: url(../images/download.png);
  }
  .tempWrap .wenTop .ex2{
      background-image: url(../images/computer.png);
  }
  .tempWrap .wenTop .ex3{
      background-image: url(../images/store.png);
  }
  .tempWrap .wenTop .ex4{
    background-image: url(../images/show.png);
}
  .tempWrap .wenTop .xian2 { /* 所有的线都设置 */
      display: block;
      width: 2em; /* em 是一个英文字符的高度，等于两个英文字符的宽度，等于一个中文字符的宽度*/
      height: 1px;
      background: #fff;
      margin: 10px auto;     
  }
  .tempWrap .tu{
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      width: 300px;
      height: 400px;
      vertical-align: middle;
  }
  .tempWrap .wzTs{
      font-size: 35px;
      color: #fff;
  }
  .tempWrap .wzTsm{
      font-size: 15px;
      color: #fff;
      margin-left: 15px;
      margin-right: 15px;
  }
  .tempWrap .wenBottom {
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #60a2f3;
      transform: translateY(100%);  /* 初始状态下，距离原位置向下移动100%，让它移出去 */
      transition: 0.5s; /* 当任何一个CSS属性改变的时候，以0.5秒做动画，而不是突然改变 */
  }
  .tempWrap li:hover .wenBottom { /* :hover 表示前面的元素被鼠标指向的状态才会应用这个规则 */ 
      /* 当li被鼠标指向时，其中的.wenBottom距离原位置不再向下移动，而是回到原位置 */
      /* 因为上面设置了transition，所以会自动动画移过去 */
      transform: translateY(0); 
  }
  .banner-slogan .myButton {
      display: block;
      margin: 40px auto;
      font-size: 19px;
      padding: 10px 15px;
      text-align: center;
      background-color: transparent;        
  }
  .myButton .button1{
      margin-right:20px;
      width:160px;
      height:38px;
      border: 2px solid #ddd;
      border-radius: 6px;
      color:#fff;
      background: transparent;
      cursor: pointer;
  }
  .button1:hover{
      background-color: #6170d3;
  }
  .futitle{
      text-align: center;
      font-size: 25px;
      color:rgb(53, 48, 48);
  }

  .flipboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0;
  }
  
  .flipboard .flipcard {
    width: 320px;
    height: 240px;
    margin: 0 20px;
    background-image: url(../images/ground2.jpg);
    background-size: cover;
    position: relative;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .flipboard .flipcard .side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
  }
  
  .flipboard .flipcard .side.alternative {
    display: none;
  }
  
  .flipboard .flipcard .side .name {
    font-size: 22px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  
  .flipboard .arrow-left {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid #333;
    cursor: pointer;
  }
  
  .flipboard .arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #333;
    cursor: pointer;
  }
  
  @keyframes flip-left {
    0% {
      transform: perspective(500px) rotateY(0);
    }
    50% {
      transform: perspective(500px) rotateY(-90deg);
    }
    51% {
      transform: perspective(500px) rotateY(90deg);
    }
    100% {
      transform: perspective(500px) rotateY(0);
    }
  }
  
  @keyframes flip-right {
    0% {
      transform: perspective(500px) rotateY(0);
    }
    50% {
      transform: perspective(500px) rotateY(90deg);
    }
    51% {
      transform: perspective(500px) rotateY(-90deg);
    }
    100% {
      transform: perspective(500px) rotateY(0);
    }
  }
  
  .flipboard .flipcard.flip-left {
    animation-name: flip-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  .flipboard .flipcard.flip-right {
    animation-name: flip-right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  /* .procedure{
      vertical-align: middle;
      text-align: center;     
  }
  .procedure .gain{
      display: inline-block;
      width:300px;
      height:400px;
      border:1px solid #d7dce2;
      border-radius: 3px;
      margin:20px auto;
      margin-right: 20px;
      background-image: url(../images/ground.jpg);
      margin-bottom: 40px;
  }
  .gain .pic1{
      background-image: url(../images/download.png);
      display: block;
      width: 64px;
      height: 64px;
      margin: 60px auto 0;
      background-size: contain;
  }
  .gain .pic2{
      background-image: url(../images/computer.png);
      display: block;
      width: 64px;
      height: 64px;
      margin: 60px auto 0;
      background-size: contain;
  }
  .gain .pic3{
      background-image: url(../images/store.png);
      display: block;
      width: 64px;
      height: 64px;
      margin: 60px auto 0;
      background-size: contain;
  }
  .gain .pic4{
      background-image: url(../images/show.png);
      display: block;
      width: 64px;
      height: 64px;
      margin: 60px auto 0;
      background-size: contain;
  }
  .gain .intro{
      font-size: 20px;
      color:rgb(36, 26, 26);
      text-align: center;
      margin-top: 35px;
  }
.gain .work{
    font-size: 15px;
    color:rgb(66, 60, 60);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
} */



.tempWrap1 .wenBottom1 {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #60a2f3;
    transform: translateY(100%);  /* 初始状态下，距离原位置向下移动100%，让它移出去 */
    /* transition: 0.5s; 当任何一个CSS属性改变的时候，以0.5秒做动画，而不是突然改变 */
}
.tempWrap1 li:hover .wenBottom1 { /* :hover 表示前面的元素被鼠标指向的状态才会应用这个规则 */ 
    /* 当li被鼠标指向时，其中的.wenBottom距离原位置不再向下移动，而是回到原位置 */
    /* 因为上面设置了transition，所以会自动动画移过去 */
    transform: translateY(0); 
}
 /* .back1{
      background-color:#f8f8f8;
      position: relative;
  }
  .tempWrap1{
      width: 1200px; 
      height: 220px;
      display: block;
      padding: 15px 0;
      vertical-align: middle;
      text-align: center;
      margin-left: 100px;
  }
  .tempWrap1 ul{
      height: 210px;
      overflow: hidden;
      text-align: center;
      margin: 0 15px;
  }
  .tempWrap1 li{
      display: inline-block;
      position: relative;    
      width: 280px;
      height: 210px;
      overflow: hidden;
      margin: 0 15px;
  }
  
  .tempWrap1 .wenTop1{
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .5);
  } */
  /* .tempWrap1 .wenTop1 .tu2 { */
      /* 所有的图标都设置 */
      /* display: block;
      width: 32px;
      height: 32px;
      margin: 50px auto 0;
      background-image: url(../images/ground2.png); */
      /* 图片要保持比例，不要拉长或者压扁了，不然就跟校园蜜蜂小程序那么丑 */
      /* contain 是保持比例，尽可能放进去，cover 是保持比例，但保证充满 */
      /* 巧记：图片/头像 = cover，图标 = contain */
      /* background-size: contain;
  } */
  /* .tempWrap1 .wenTop1 .xian2 { 所有的线都设置
      display: block;
      width: 4em; /* em 是一个英文字符的高度，等于两个英文字符的宽度，等于一个中文字符的宽度*/
   /* height: 1px;
      background: #fff;
      margin-top: 30px;
      margin: 20px auto;    
  } */ 
  /* .tempWrap1 .tu3{
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      width: 280px;
      height: 210px;
      vertical-align: middle;
  }
  .tempWrap1 .wzTs{
      font-size: 20px;
      color: #fff;
  }
  .tempWrap1 .wzTsm{
      font-size: 15px;
      color: #fff;
      margin-left: 15px;
      margin-right: 15px;
  } */

  
  