.tb {
  margin:20px 0 0 0;
    width:100%;
    /* margin:15px auto 130px; */
  }
  .tb,.tb th,.tb td{
    font-size:0.95em;
    text-align:center;
    border:1px solid #b8b8b8;
    border-collapse:collapse
  }
  .tb th,.tb .first {
    background-color: #003749;
    color:#FFFFFF
  }
  /* .tb td{
    border: 1px solid transparent;
  } */
  
  .tb tr:nth-child(odd){
    background-color:#aae9fe;
  }
  .tb tr:nth-child(even){
    background-color:#fdfdfd;
  }
  .tb .tb-unit{
    padding:1em;
  }